/*de esta manera se selecciona una etiqueta entera de HTML con CSS*/
html{
    margin: 0;
    padding: 0;
}

/*de esta manera se crea una clase en CSS*/
.fondo{
    background-color: black;
    background-image: url("./imagen_fondo1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.efecto_fondo{
    backdrop-filter: blur(5px);
}
.title{
    font-size: 2em;
    color: azure;
    text-align: center;
}
.p{
    font-size:larger;
    color: azure;
    text-align:center;
}
.logo{
    width: 200px;
}
.tarjetas{
    border: 3px solid azure;
    width: fit-content;
    padding: 2px 2px 2px 2px;
    margin: auto;
    border-radius: 50px;
    transition: 0.5s;
}
.tarjetas:hover{
    background-color:rgba(119, 225, 255, 0.498);
    backdrop-filter: blur(3px);
}
.horizontal{
    display: flex;
}


/*de esta manera se crea un id en CSS*/
#principal{
    font-size: 3em;
    text-align: center;
}
#titulos{
    border: 1px solid azure;
    /* vw: viewport width */
    width: 60vw;
    margin: auto;
    padding: 1em;
}
#parrafos{
    border: 1px solid azure;
    /* vw: viewport width */
    width: 60vw;
    margin: auto;
    padding: 1em;
    text-align: left ;
}
/* 
.fondo {
    background-color: red;
}
.miTexto {
    font-size: 80px;
    color: green;
} */
/* h1{
    background-color:chocolate;
} */