/*de esta manera se selecciona una etiqueta entera de HTML con CSS*/
html{
    margin: 0;
    padding: 0;
}

/*de esta manera se crea una clase en CSS*/
.fondo{
    background-color: black;
    background-image: url("./imagen_fondo1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.efecto_fondo{
    backdrop-filter: blur(5px);
}
.title{
    font-size: 2em;
    color: azure;
    text-align: center;
}
.p{
    font-size:larger;
    color: azure;
    text-align:center;
}
.logo{
    font-size:larger;
    color: azure;
    text-align:center;
    width: 150px;
    margin: 1.5em;
    margin-top: 1.5em;
}
.tarjetas{
    border: 5px double aquamarine;
    width: fit-content;
    padding: 2px 2px 2px 2px;
    margin: auto;
    border-radius: 50px;
    transition: 0.5s;
}
.tarjetas:hover{
    background-color:rgba(113, 113, 113, 0.306);
    backdrop-filter: blur(3px);
}
#contenedor-tarjetas{
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.319);
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border-radius: 50px;
    border-style: groove;
    border-color: aquamarine;
    padding: 2em;
    display: flex;
    justify-content: flex-start;
}

/*de esta manera se crea un id en CSS*/
#principal{
    font-family:Verdana, sans-serif;
    font-style:italic;
    font-size: 3em;
    text-align: center;
}
#titulos{
    border: 10px solid rgba(187, 173, 13, 0.795);
    border-style:ridge;
    /* vw: viewport width */
    width: 60vw;
    margin: auto;
    padding: 0.5em;
}
#titulos:hover{
    background-color:rgba(115, 44, 0, 0.507);
    backdrop-filter: blur(3px);
    transition: 0.5s;
}
#parrafos{
    border: 5px double rgba(255, 234, 0, 0.932);
    /* vw: viewport width */
    width: 60vw;
    margin: auto;
    padding: 1em;
    text-align: left ;
}
/* 
.fondo {
    background-color: red;
}
.miTexto {
    font-size: 80px;
    color: green;
} */
/* h1{
    background-color:chocolate;
} */